@using MyStore_Web.Models.ViewModels.Role
@model List<RoleviewModel>
@{
    ViewData["Title"] = "Index";
}
@* 
<div class="breadcrumb">
    <ul>
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">پیشخوان</a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="is-active">اسلایدشو</a>
        </li>
    </ul>
</div> *@
<div class="main-content font-size-13">
    <div class="tab__box">
        <div class="tab__items">
            <a class="tab__item is-active">لیست نقش ها</a>
            <a class="tab__item " asp-area="Admin" asp-controller="Roles" asp-action="Create">ایجاد نقش جدید</a>

        </div>
    </div>
    <div class="table__box">
        <table class="table">

            <thead role="rowgroup">
                <tr role="row" class="title-row">
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Roleid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().RoleTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().RoleName)
                    </th>
                    <th>
                        عملیات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" class="">
                        <td>
                            @Html.DisplayFor(modelItem => item.Roleid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        
                        <td>
                            <a asp-area="Admin" asp-controller="Roles" asp-action="Delete" asp-route-id="@item.Roleid" class="item-delete mlg-15" title="حذف"></a>

                            <a asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-id="@item.Roleid" class="item-edit" title="ویرایش"></a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
